@import './general.css';
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');


.text-primary {
  color: var(--bs-primary)
}

.icon-primary {
  color: var(--bs-gray-500)
}


/*------------------------------------------------------*/



header {
  background-color: var(--less-dark);

  /* Uncomment below code when the header need to be sticky onScrollDown */
  /* position: sticky;
  top: 0;
  z-index: 9; */
  box-shadow: 0px 12px 15px 0px rgb(114 116 118 / 57%);
  margin-bottom: 13px;
  position: relative;
  z-index: 1;
}

header ul {
  justify-content: center;
}

header ul li:last-child {
  margin-left: auto;
}

header ul li button {
  color: #b2b2c6 !important;
  text-transform: uppercase;
  font-weight: 400 !important;
  letter-spacing: 0.5px;
  font-size: 0.85rem !important;
  border: 1px solid #3e3e5c !important;
  line-height: 1.3;
}

header ul li button:hover,
header ul li button:focus {
  background-color: #3e3e5c !important;
  color: var(--light) !important;
  border-width: 1px !important;
}

.btn-toolbar {
  align-items: flex-end;
  justify-content: center;
  position: relative;
  z-index: 1;

  /* Uncomment below code when the toolbar need to be sticky onScroll */
  /* position: sticky;
  top: 80px;
  z-index: 9; */
}

.btn-toolbar .toolbar-trigger {
  display: flex;
  align-items: center;
  background: linear-gradient(145deg, #ffe598, #ffffff);
  padding: 15px 20px;
  border-radius: 8px;
  padding: 7px 9px;
  border-radius: 8px;
  gap: 7rem;
}

.btn-toolbar .toolbar-search input {
  border: 0;
}

@media screen and (max-width: 768px) {
  .btn-toolbar {
    /* top: 71px; */
    top: 0px;
  }
  .btn-toolbar .toolbar-trigger {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .btn-toolbar .toolbar-search {
    padding: 5px;
  }

  .navbar {
    flex-wrap: wrap; /* Allows elements to wrap onto multiple lines */
  }

  .navbar-toggler {
    margin-left: auto; /* Aligns the toggler to the right */
  }

  .navbar-collapse {
    display: none;
    width: 100%; /* Ensures the menu spans the full width */
  }

  .navbar-collapse.show {
    display: block;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin: 0.5rem 0;
  }
}

@media screen and (max-width: 550px) {
  .btn-toolbar {
    margin-top: 0px;
  }
  .btn-toolbar .toolbar-trigger {
    border-radius: 0px;
  }
}

.card {
  transition: 250ms ease all;
  box-shadow: 10px 40px 50px rgb(207 211 224 / 42%);
}

.card:hover {
  box-shadow: 10px 40px 50px rgb(173 179 198 / 42%);
}

.card h4.card-title a {
  color: var(--less-dark);
  opacity: 0.9;
  transition: 250ms ease all;
}

.card:hover h4.card-title a {
  color: var(--primary);
}

.card-body {
  min-height: 215px;
}

.speaker-rounded-corners {
  border-top-left-radius: 10px; /* Adjust the radius as needed */
  border-bottom-right-radius: 10px; /* Adjust the radius as needed */
}

.speaker-list .card-body {
  min-height: auto;
}

.about .card-body {
  min-height: initial;
}

.card-body .card-text {
  color: var(--dark);
  opacity: 0.7;
  font-size: 0.9em; /* Reduce font size */
  line-height: 1.4; /* Adjust line height for readability */
  margin-bottom: 1em; /* Add some space at the bottom */
}

.card-footer {
  background-color: white;
  border-top-color: rgb(0 0 0 / 6%);
}

.card-footer small strong {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: var(--less-dark);
}

.speaker-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.speaker-action {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.speaker-action .favoriteToggleWrapper {
  font-size: 22px;
}

.speaker-action .modifyWrapper > button {
  margin-right: 5px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.speaker-action .modifyWrapper > button:last-child {
  margin-right: 0px;
}

.heart-dark-button,
.heart-red-button {
  display: inline-block;
  /* font-family: "Font Awesome 5 Free"; */
  font-weight: 900;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  border: none;
  padding: 2px 2px;
  line-height: 1;
  position: relative;
  opacity: 0.8;
}

.heart-dark-button::before,
.heart-red-button::before {
  content: "\f004";
  font-family: "Font Awesome 5 Free";
}

.heart-dark-button::before {
  color: var(--dark);
}

.heart-red-button::before {
  color: var(--danger);
}

.modal-header .modal-title {
  color: var(--dark);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.6px;
}

.themeToggleCheckbox {
  opacity: 0;
  position: absolute;
}

.themeToggleCheckbox-label {
  background-color: var(--dark);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: var(--accent);
}

.themeToggleCheckbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.themeToggleCheckbox:checked + .themeToggleCheckbox-label .ball {
  transform: translateX(24px);
}

.background-text-highlight {
  background: var(--accent);
}

.flex-grow-04 {
  flex-grow: 0.4;
}

.bg-gradient-home {
  background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.home-rounded-corners {
  border-top-left-radius: 15px; /* Adjust the radius as needed */
  border-bottom-right-radius: 15px; /* Adjust the radius as needed */
}

.home-rounded-corners-top-left {
  border-top-left-radius: 15px; /* Adjust the radius as needed */
}

.home-rounded-corners-bottom-right {
  border-bottom-right-radius: 15px; /* Adjust the radius as needed */
}

/* Shared Header and Footer Background */
.header-footer-bg {
  background-color: #00000033; /* Lighter background color */
}

.header-footer-gradient {
  background: linear-gradient(
    to right,
    #ffd1a4,
    #a4d4ff
  ); /* subtle gradient from pastel orange to pastel blue */
  color: #333333; /* dark grey text for contrast */
  padding: 20px; /* Adjust the padding as needed */
  text-align: center; /* This centers the text inside the div, if needed */
}

/* Social Icons Styles */
.social-icon {
  color: white;
  background-color: transparent;
}

.social-icon.facebook {
  color: #3b5998; /* Facebook color */
}

.social-icon.twitter {
  color: #55acee; /* Twitter color */
}

.social-icon.instagram {
  color: #ac2bac; /* Instagram color */
}

.social-icon.linkedin {
  color: #0077b5; /* LinkedIn color */
}

.social-icon:hover {
  color: white; /* White icon color on hover */
}

.copyright-background {
  background-color: #00000033; /* Lighter background color */
}

.full-page-border {
  border-left: 4px solid #ffd1a4; /* Pastel orange border on the left */
  border-right: 2px solid #a4d4ff; /* Pastel blue border on the right */
  box-sizing: border-box; /* Includes the border in the element's total width */
}



.show-modal {
  display: block;
}

.has-backdrop:before {
  content: "";
  background: rgb(0 0 0 / 5%);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  backdrop-filter: blur(5px);
}

.hide-modal {
  display: none;
}

.invisible-text {
  color: transparent;
}

.bg-gradient-pending-data {
  background: linear-gradient(to right, #6dd5ed, #2193b0);
  animation: pulseAnimation 1s infinite linear;
}

.bg-gradient-pending-text {
  /* Applying the linear gradient */
  background: linear-gradient(to right, #ffd1a4, #a4d4ff);

  /* Padding around the text */
  padding: 10px;

  /* Aligning text */
  text-align: center;

  /* Only as wide as the content plus padding */
  display: inline-block;
}

.animate-opacity-for-pending {
  animation: opacityAnimation 1.5s ease-in-out infinite;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

@media screen and (max-width: 768px) {
  .flex-grow-04 {
    flex-grow: 1;
  }
}
