@import "@/node_modules/bootstrap/scss/bootstrap";

// Bootstrap Overrides


// Theme
$primary: #f7f7f7;
$secondary: #bc1fc1;
$success: $green-500;
$info: $gray-500;
$warning: $yellow-500;
$danger: $red-500;
$light: $gray-100;
$dark: $gray-900;

$bg-primary: #cdcdce;
$bg-secondary: $white;
$bg-light: $gray-100;
$bg-info: $info;


$text-primary: $gray-900;
$text-secondary: #3b88fc;
$text-primary-light: $gray-600;
$text-secondary-light: $blue;
$text-bright: $white;
$text-invalid: $secondary;

$icon-primary: #3b88fc;
$icon-secondary: $secondary;
$icon-light: $white;
$icon-danger: $danger;

$button-primary: $secondary;
$button-primary-hover: #961a9b;
$button-primary-disabled: $secondary;
$bg-button-navigation: $gray-300;

$card-shadow: $gray-700; //#3b88fc;
$card-secondary: $gray-300;

$bg-checkbox-switch: $gray-300;

$border-color: $dark !important;
$border-color-light: $gray-500 !important;

$enable-shadows: true;

$main-bg-gradient: linear-gradient(145deg, $light, #86b7fe);

// page
body,
html {
    font-family: "Roboto", sans-serif;
    background: $bg-primary; //$main-bg-gradient;
    height: 100%;
}

header {
    background-color: $bg-light;
    margin-bottom: 13px;
    position: relative;
    z-index: 1;
}

footer {
    background-color: $light;
}

//text
.text-primary {
    color: $text-primary !important;
    opacity: 0.7;
    font-weight: bold;
}

.text-primary-dark {
    color: $text-primary !important;
    font-weight: bold;
}

.text-primary-light {
    color: $text-primary-light;
    font-weight: bold;
}

.text-secondary {
    color: $text-secondary !important;
}

.text-invalid {
    color: $text-invalid;
    font-weight: bold;
    font-size: smaller;
}

.invisible-text {
    color: transparent;
}

.bg-gradient-loading-text {
    /* Applying the linear gradient */
    background: linear-gradient(to right, $primary, $secondary);

    /* Padding around the text */
    padding: 10px;

    /* Aligning text */
    text-align: center;

    /* Only as wide as the content plus padding */
    display: inline-block;
}

// page composition
.page-part {
    padding: 10px;
    //box-shadow: 5px 10px 20px $card-shadow;
    background-color: $bg-secondary;
    border-radius: 10px;
}

.page-menu {
    background-color: $bg-secondary;
    border-radius: 10px;
}

.page-main {
    background-color: $bg-secondary;
    border-radius: 10px;
}

.page-detail {
    background-color: $bg-secondary;
    border-radius: 10px;
}

// navbar
.nav-link {
    color: $text-primary;
    cursor: pointer;
    padding-bottom: 0 !important;

}

.navbar-nav>.nav-link.active {
    color: $secondary;
    font-weight: bold;
}

.nav-link:hover {
    // color: $secondary;
    border-bottom: $secondary 2px solid;
}

.link-element {
    color: $text-secondary-light;
    cursor: pointer;
    text-decoration: none;
}

.link-element:hover {
    border-bottom: $secondary 2px solid;
}

// cards
.card {
    transition: 250ms ease all;
    min-height: 150px;
}

.card h5.card-title {
    color: $text-primary;
    opacity: 0.9;
    transition: 250ms ease all;
}

.card:hover h5.card-title {
    color: $text-secondary;
}

.card-body {
    background-color: $card-secondary;
    border: solid;
    border-color: transparent;
    border-width: 2px;
    box-shadow: 5px 10px 20px $card-shadow;
}

.card-body.card-body-inactive {
    box-shadow: none;
}

.card-body.card-body-inactive:hover {
    border: solid;
    border-color: $border-color-light;
    border-width: 2px;
}

.card-body:hover {
    border: solid;
    border-color: $card-shadow;
    border-width: 2px;
}

.card-body .card-text {
    color: $text-primary;
    opacity: 0.7;
    // font-size: 2em;
    /* Reduce font size */
    line-height: 1.4;
    /* Adjust line height for readability */
    margin-bottom: 1em;
    /* Add some space at the bottom */
}

//icons
.icon-primary {
    color: $icon-primary;
}

.icon.icon-secondary {
    color: $button-primary;
}

.icon.icon-secondary:hover {
    color: $button-primary-hover;
}

.icon.icon-light {
    color: $icon-light;
}

.icon.icon-danger {
    color: $icon-danger;
}

//animation
.animate-opacity-for-pending {
    animation: opacityAnimation 1.5s ease-in-out infinite;
}

//checkbox
.form-check-input-lg {
    transform: scale(1.5);
}

.custom-form-switch {
    border: none;
    background-color: $bg-checkbox-switch;
    box-shadow: none;
}

.form-switch .form-check-input {
    @extend .custom-form-switch;
}

.form-switch .form-check-input:checked {
    @extend .custom-form-switch;
    background-color: $secondary;
}

//Button
.btn-primary {
    border: none;
    background-color: $button-primary;
}

.btn-primary:hover {
    background-color: $button-primary-hover;
    border: none;
}

.btn-primary:active {
    background-color: $button-primary-disabled !important;
    opacity: 2.0;
    border: none;
}

.btn-primary:disabled {
    opacity: var(--bs-btn-disabled-opacity);
    background-color: $button-primary-disabled;
}

.btn-navigation {
    background-color: $bg-secondary;
    border: solid;
    border-color: $border-color-light;
    border-width: 1px;
    max-height: 200px;
}

//form controls
.input-invalid {
    border: solid;
    border-color: $secondary;
    border-width: 2px;
}

.uppercase {
    text-transform: uppercase;
}

textarea {
    resize: none;
}