@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// Bootstratp base variables
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$btn-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
// 2. Include any default variable overrides here
$primary: #f7f7f7;
$secondary: #bc1fc1;
$info: #3b88fc;

$body-bg:#cdcdce;

$tooltip-bg: #3b88fc;
$tooltip-color: #fff;

$accordion-bg : $white;
$accordion-color: $gray-900;
$accordion-border-width: 0px;
$accordion-button-bg: $info;
$accordion-button-color: $white;
$accordion-button-padding-y: 2px;
$accordion-button-padding-y: 10px;
$accordion-icon-color: $white;
$accordion-icon-active-color: $white;

$focus-ring-color: #3b88fc;
$enable-shadows: true;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

//$bg-primary: #cdcdce;
$bg-secondary: $white;
$bg-light: $gray-100;
$bg-info: $info;
$bg-tertiary:  #3b88fc;

$text-primary: $gray-900;
$text-secondary: #3b88fc;
$text-tertiary: $secondary;
$text-primary-light: $gray-600;
$text-secondary-light: $blue;
$text-bright: $white;
$text-invalid: $secondary;

$icon-primary: #3b88fc;
$icon-secondary: $secondary;
$icon-light: $white;
$icon-danger: $danger;

$toast-success: #af80b1;

$button-primary: $secondary;
$button-primary-color: $white;
$button-primary-hover: #961a9b;
$button-primary-disabled: $info;

$button-secondary: $gray-600;
$button-secondary-color: $white;
$button-secondary-hover: $gray-800;
$button-secondary-disabled: $info;

$card-shadow: $gray-700; //#3b88fc;
$card-bg-primary: $gray-200;
$card-bg-secondary: $gray-300;

$bg-checkbox-switch: $gray-300;

$border-color-dark: $info !important;
$border-color-light: $gray-500 !important;

$main-bg-gradient: linear-gradient(145deg, $light, #bad0d4);

// page
body,
html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%;
}

header {
    background-color: $bg-light;
    margin-bottom: 13px;
    position: relative;
    z-index: 1;
}

footer {
    background-color: $light;
}

.main-bg-gradient {
    background: $main-bg-gradient
}

//text
.text-primary {
    color: $text-primary !important;
    opacity: 0.7;
    font-weight: bold;
}

.text-primary-dark {
    color: $text-primary !important;
    font-weight: bold;
}

.text-primary-light {
    color: $text-primary-light;
    font-weight: bold;
}

.text-secondary {
    color: $text-secondary !important;
}

.text-tertiary {
    color: $text-tertiary;
    font-weight: bold;
}
.text-invalid {
    color: $text-invalid;
    font-weight: bold;
    font-size: smaller;
}

.invisible-text {
    color: transparent;
}

.bg-gradient-loading-text {
    /* Applying the linear gradient */
    background: linear-gradient(to right, $primary, $secondary);

    /* Padding around the text */
    padding: 10px;

    /* Aligning text */
    text-align: center;

    /* Only as wide as the content plus padding */
    display: inline-block;
}

// page composition
.page-part {
    padding: 10px;
    //box-shadow: 5px 10px 20px $card-shadow;
    background-color: $bg-secondary;
    border-radius: 10px;
}

.page-menu {
    background-color: $bg-secondary;
    border-radius: 10px;
}

.page-main {
    background-color: $bg-secondary;
    border-radius: 10px;
}

.page-detail {
    background-color: $bg-secondary;
    border-radius: 10px;
}

//Accordeon
.accordion-button:focus {
    box-shadow: none;
   
}

.accordion-button:disabled {
    box-shadow: none;
    opacity: 0.7;
}

.accordion-button:not(.collapsed) {
    background-color: $accordion-button-bg;
    color: $accordion-button-color;
    box-shadow: none;
}

.accordion-item  > .accordion-header .accordion-button {
    border: none !important;
    border-radius: 5px;
}

.accordion-item:first-of-type > .accordion-header .accordion-button {
    border-radius: 5px!important;
}

.accordion-item:last-of-type > .accordion-header .accordion-button {
    border-radius: 5px!important;
}

.accordion-header-light {
    opacity: 0.9;
}

//page
.page-accordeon-header {
    color: $text-primary;
    font-weight: bolder;
    background-color: $bg-tertiary;
}

.page-accordeon-body {
    background-color: $bg-secondary;
}

// navbar
.nav-link {
    color: $text-primary;
    cursor: pointer;
    padding-bottom: 0 !important;
}

.navbar-nav>.nav-link.active {
    color: $secondary;
    font-weight: bold;
}

.nav-link:hover {
    // color: $secondary;
    border-bottom: $secondary 2px solid;
}

.link-element {
    color: $text-secondary-light;
    cursor: pointer;
    text-decoration: none;
}

.link-element:hover {
    border-bottom: $secondary 2px solid;
}

// cards
.card {
    transition: 250ms ease all;
    min-height: 150px;
    background-color: $card-bg-primary;
}

.card h5.card-title {
    color: $text-primary;
    opacity: 0.9;
    transition: 250ms ease all;
}

.card:hover h5.card-title {
    color: $text-secondary;
}

.card-body {
    background-color: $card-bg-secondary;
    border: solid;
    border-color: transparent;
    border-width: 0px;
    box-shadow: 5px 10px 20px $card-shadow;
}

.card-body.card-body-inactive {
    box-shadow: none;
}

.card-body.card-body-inactive:hover {
    border: solid;
    border-color: $border-color-light;
    border-width: 2px;
}

.card-body:hover {
    border: solid;
    border-color: $border-color-dark;
    border-width: 2px;
}

.card-body .card-text {
    color: $text-primary;
    opacity: 0.7;
    // font-size: 2em;
    /* Reduce font size */
    line-height: 1.4;
    /* Adjust line height for readability */
    margin-bottom: 1em;
    /* Add some space at the bottom */
}

//icons
.icon-primary {
    color: $icon-primary;
}

.icon.icon-secondary {
    color: $button-primary;
}

.icon.icon-secondary:hover {
    color: $button-primary-hover;
}

.icon.icon-light {
    color: $icon-light;
}

.icon.icon-danger {
    color: $icon-danger;
}

//toast
.toast-success {
    background-color: $toast-success;
    color: $text-bright;
    font-weight: bold;
    border: none;
    position: absolute;
    bottom: 4%;
    right: 1%;
    float: right;
}

//animation
.animate-opacity-for-pending {
    animation: opacityAnimation 1.5s ease-in-out infinite;
}

//checkbox
.form-check-input-lg {
    transform: scale(1.5);
}

.custom-form-switch {
    border: none;
    background-color: $bg-checkbox-switch;
    box-shadow: none;
}

.form-switch .form-check-input {
    @extend .custom-form-switch;
}

.form-switch .form-check-input:checked {
    @extend .custom-form-switch;
    background-color: $secondary;
}

//Button
.btn.btn-primary {
    border: none;
    color: $button-primary-color;
    background-color: $button-primary;
}

.btn.btn-primary:hover {
    background-color: $button-primary-hover;
    border: none;
}

.btn.btn-primary:disabled {
    opacity: var(--bs-btn-disabled-opacity);
    background-color: $button-primary-disabled;
    color: $button-primary-color;
}

.btn.btn-secondary {
    border: none;
    color: $button-secondary-color;
    background-color: $button-secondary;
}

.btn.btn-secondary:hover {
    background-color: $button-secondary-hover;
    border: none;
}

.btn.btn-secondary:disabled {
    opacity: var(--bs-btn-disabled-opacity);
    background-color: $button-secondary-disabled;
    color: $button-secondary-color;
}

.btn-navigation {
    background-color: $bg-secondary;
    border: solid;
    border-color: $border-color-light;
    border-width: 1px;
    max-height: 200px;
}

.btn-icon {
    padding: 1;
}
//form controls
.form-control:disabled {
    opacity: 0.7;
}

.input-invalid {
    border: solid;
    border-color: $secondary;
    border-width: 4px;
}

.uppercase {
    text-transform: uppercase;
}

textarea {
    resize: none;
}

.link-disabled {
    pointer-events: none;
    opacity:0.7;
}